msvs_version=2022

registry=https://mirrors.huaweicloud.com/repository/npm/
chromedriver_cdnurl=https://mirrors.huaweicloud.com/chromedriver
electron_mirror=https://mirrors.huaweicloud.com/electron/
electron_builder_binaries_mirror=https://mirrors.huaweicloud.com/electron-builder-binaries/
