@use 'sass:meta';
@use '@fe/styles/mixins.scss' as *;
@import 'prismjs/themes/prism.css';

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--selection-color);
}

@include dark-theme {
  code[class*="language-"], pre[class*="language-"] {
    text-shadow: none;
  }

  @include meta.load-css('prismjs/themes/prism-tomorrow');
}
